body {
    background-color: black;
}

h1 {
    text-align: center;
}

.heart {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,50%);
}

i {
    color: red;
    font-size: 100px;
    text-shadow: black, 0 0 50px black;
    animation: heartbeat 0.8s infinite;
}

@keyframes heartbeat {
    0% {
        transform: scale(1.10);
    }
    30% {
        transform: scale(1.4);
    }
    60%{
        transform: scale(1.9);
    }
}